
/* KEYFRAMES */

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }

  80%{
    transform: translateX(2rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }

  80%{
    transform: translateX(-2rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0%{
    opacity: 0;
    transform: translateY(3rem);
  }


  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }

  80%{
    transform: translateX(-2rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}