/* GENERAL */

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
 }

html{
  //Celà défini ce que vaut 1REM dans ce cas présent 1REM = 10px
  font-size: 62.5%; //1rem = 10px;   10px/16px = 62.5%


  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px;   9px/16px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px;   8px/16px = 50%
  }

  @include respond(phone) {
    font-size: 30%; //1rem = 4.8px;   4.8px/16px = 30%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px;   12px/16px = 75%
  }







}

body{
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }

}

