/* GENERAL */

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
}

html{
  //Celà défini ce que vaut 1REM dans ce cas présent 1REM = 10px
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
}

