.footer {
  background-color: $color-green;
  font-size: 1.4rem;
  text-align: center;

  &__logo-box {

    margin-bottom: .5rem;
  }

  &__logo {
    width: 12rem;
    height: auto;

  }

  &__navigation {

  }

  &__list {
    list-style: none;
  }


  &__item {

  }

  &__link {
    color: $color-tertiary;
    font-size: 4rem;
    margin-bottom: .5rem;
    transition: all .5s;

    &:hover,
    &:active {
      color: $color-secondary;
    }
  }

  &__copyright {
    font-size: 1.5rem;
    border-top: .1rem solid $color-secondary;
    padding-top: 2rem;
    display: inline-block;

  }


}