.header {
  height: 95vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-quaternary-light, 0.8),
                  rgba($color-quaternary-dark, 0.8)),
  url("/static/images/codeCss.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 10rem;
    border-radius: 50%;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
