/* GENERAL */

body{
    font-family: 'Josefin Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 45px 0 80px 0;
}

section .heading{
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2{
    text-transform: uppercase;
}

hr{
    width: 100px;
    height: 5px;
    color: red;
    margin: 0 auto;
}

.white-divider{
    width: 100px;
    height: 2px;
    color: white;
    margin: 0 auto;
}

ul, ol{
    list-style: none;
}

/* MENU */
.navbar{
    background: white;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;

}

.navbar .navbar-nav li{
    display: inline;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse{
    text-align: center;
}

.navbar li a{
    color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a{
    color: white !important;
    background: dimgray !important;

}

.navbar-default .navbar-toggler{
    border-style: none;
}

.icon-bar{
    background: white !important;=
}

/* ABOUT */

#about{
    padding-top: 100px;
    background: dimgray;
}

.profile-picture{
    text-align: center;
    margin: 25px auto;
    float: none;
}

#about .heading h1{
    color: white;
    text-transform: uppercase;
}

#about .heading h3{
    color: black;

}

.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in;
}

.button1:hover{
    background: white;
    color: dimgray;
    text-decoration: none;

}

/* SKILLS */

#skills{
    background: white;
    margin: auto;
}

#skills .heading h2{
    color: red;

}

#skills .progress{
    height: 20%;
    margin: 20px 20px;


}

#skills .progress-bar{
    width: 400px;
    height: 3em;
    background-color: #454343;
    color: white;

}


#skills .progress h5{
    text-shadow: 1px 1px 1px black;
}

.angularHide{
    display: none;
}

.angularBar:hover ~.angularHide{
    display: block;
}

.SQL {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.SQL .toolTipTextSQL {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.SQL:hover .toolTipTextSQL {
    visibility: visible;
}



/* EXPERIENCE */

#experience{
    background: dimgray;

}

#experience .heading h2{
    color: white;

}

.timeline{
    padding: 30px 10px;
    position: relative;
}

.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: white;
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li{
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:after{
    clear: both;
}

.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}

.timeline li .timeline-badge{
    color: dimgray;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: white;
    border-radius: 50%;
}

.timeline-panel-container{
    width: 50%;
    float: left;

}

.timeline-panel-container-inverted{
    width: 50%;
    float: right;

}

.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background: #ffffff;
}

.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;

}

.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;

}

.timeline-heading h4{
    color: red;

}

/* EDUCATION */

#education{
    background: white;
}

#education .heading h2{
    color: red;
}

.education-block{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: grey;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.education-block h5{
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
}

.education-block i{
    font-size: 40px;

}

.education-block h3 a{
    color: #1a5506;
}

.education-block h4{
    margin-bottom: 20px;
}

.education-block p{
    font-weight: bold;
}

.education-block hr{
    margin-bottom: 20px;
}

/* PORTFOLIO */

#project{
    background: dimgray;
}

#project .heading h2{
    color: white;

}

#project .presentationAlsace img{
    width: 100%;
    height: 100%;
    border: 3px white solid;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#project .presentationAlsace img:hover{
    filter: none;
    -webkit-filter: none;
}

/* EXTRAITS DE CODE */

#extractsCode{
    background-color: white;
}

#extractsCode .heading h2{
    color: red;
}

/*.carousel__image{*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    object-fit: contain;*/
/*}*/

.carousel-control.left, .carousel-control.right{
    background-image: none;
    color: dimgray;
}

.carousel-indicators{
    bottom: 0;
}

.carousel-indicators li{
    border-color: dimgray;
}

.carousel-indicators li.active{
    border-color: black;
}

#myCarousel .carousel-item{
    padding: 40px 30px;

}

#myCarousel .carousel-item h3 {
    color: black;
    font-style: italic;
}

#myCarousel .carousel-item h5 {
    color: white;
    text-transform: uppercase;
}

.card-body{
    background-color: black;
}


.stylePic {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.stylePic:hover{
    font-size: 48px;
    color: deepskyblue;
    display: block;
}

.ifHover{
    display: none;
}

.thumb1:hover ~.ifHover{
    color: white;
    font-style: italic;
    display: block;
}


/* FOOTER */

footer{
    background: dimgray;
    padding: 20px 0 40px;

}

footer .fontStyle{
    font-size: 25px;
    margin: 20px;
    color: white;
    height: 30px;
}

footer .fontStyle:hover{
    font-size: 27px;
}

footer h5{
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}



