
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Julien HAMMER - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width"/>
	<meta name="description" content="The Curriculum Vitae of Julien HAMMER."/>
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/JulienHAMMER.jpg' %}" alt="Julien HAMMER" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Julien HAMMER</h1>
			<h3 class="quickFade delayThree">Developpeur Web et Web Mobile</h3>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:hammerjulien67@gmail.com" target="_blank">hammerjulien67@gmail.com</a></li>
				<li>w: <a href="http://www.JulienH.com">www.JulienH.com</a></li>
				<li>m: N° de téléphone</li>
				<li><a href="https://www.linkedin.com/in/julien-hammer-7b85b5b4/">LinkedIn</a></li>
				<li><a href="https://github.com/rouge13/gitRed">GitHub</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>PROFIL</h1>
				</div>

				<div class="sectionContent">
					<p>Après plusieurs années dans le domaine de la logistique, j’ai pris la décision de me reconvertir professionnellement et de me tourner vers le métier de développeur Web et Web Mobile.
						J’ai déjà pu me former à différents langages et mettre mes compétences en pratique.
						Aujourd’hui, je suis prêt à mettre toutes les chances de mon côté pour réussir mon projet et mettre à profit ma jeune expérience.
					</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>FORMATION</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Développeur Web et Web Mobile - WebForce3</h2>
					<p class="subDetails">2020</p>
					<p>
						-	Intégration web html/CSS
						-	Conception de pages Web interactives avec JavaScript
						-	Réalisation d’un site Web à l’aide du CMS WordPress et de PHP
						-	Exploitation de données MySQL
						-	Elaboration d’un site Web et exploitation de données Symfony 5
						Projets en cours de développement
						-	Projet personnel : création d’un Portfolio
						-	Création d’un site web sur l’Alsace et son patrimoine
					</p>

				</article>

				<!--				<article>-->
				<!--					<h2>Job Title at Company</h2>-->
				<!--					<p class="subDetails">Janruary 2007 - March 2011</p>-->
				<!--					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>-->
				<!--				</article>-->

				<!--				<article>-->
				<!--					<h2>Job Title at Company</h2>-->
				<!--					<p class="subDetails">October 2004 - December 2006</p>-->
				<!--					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>-->
				<!--				</article>-->
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Compétences</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>SQL</li>
					<li>CSS3</li>
					<li>Bootstrap</li>
					<li>HTML5</li>
					<li>Symfony</li>
					<li>PHP</li>
					<li>JavaScript/JQuery</li>
					<li>WordPress</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Logiciels</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>PhpStorm</li>

				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>WebForce3</h2>
					<p class="subDetails">Formation diplômante</p>
					<p>Développeur Web et Web Mobile - Niveau 5, équivalent bac+2</p>
				</article>

				<!--				<article>-->
				<!--					<h2>College/University</h2>-->
				<!--					<p class="subDetails">Qualification</p>-->
				<!--					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>-->
				<!--				</article>-->
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-3753241-1");
	pageTracker._initData();
	pageTracker._trackPageview();
</script>
</body>
</html>