.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  border-radius: 3rem;


  &__side {

    color: $color-secondary;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-tertiary, .15);

    &--front {
      background-color: $color-secondary;
      color: $color-tertiary;
    }

    &--back {
      background-color: $color-primary;
      color: $color-secondary;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {//.card:hover .card__side
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {//.card:hover .card__side
    transform: rotateY(0);
  }




}



